<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Generate your 3D images </h1>
    <t>we generate 3D images , why ? because why not hehe </t>
    <form method="post" action="/">
        <input type="text" placeholder="generate.." value="gen" name="action1">
        <input type="submit" value="VALUE1" name="action2" />
    </form>
</body>

</html>